<h1>Sample App</h1>
<p><%= t ".hello" %> <%= @user.name %></p>
<p>
  <%= t ".click_to_reset" %>
  <%= link_to t(".reset_link"), edit_password_reset_url(id: @user.reset_token, email: @user.email) %>
</p>
<p><%= t ".expire_warning", count: @user.reset_sent_at %></p>
<p><%= t ".ignore_this_email" %></p>
